
.user_profile {
  border-radius: 8px;
  display: grid;
  place-self: center;
  place-content: center;
  align-self: center;
  margin-top: 10rem;
  padding: 10px 18px;
  text-align: center;
  gap: 10px;
}
html,body {
  height: 100%;
}
.user_profile_text_2 {
  font-size: 11px;
  color: #545454;
}
